.userForm {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 440px;
}

.userForm input,
.userForm div input {
  width: 410px;
  padding: 5px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
}

.userForm div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 30px;
  > div {
    > input {
      z-index: 0;
    }
    > i {
      width: 16px;
      position: relative;
      left: 380px;
      bottom: 23px;
      color: #444;
      z-index: 1;
    }
  }
}

#error {
  color: red;
  font-size: 0.8rem;
  border-bottom: 1px solid #ccc;
  padding: 5px;
}
